@model KnowItAllWeb.Models.Materials


<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device" />
        <title>CreateOffer</title>
    </head>
    <body>
        <div>
            <h1>Material details</h1>
            
           
           <<h3>Wood: @Model.Wood</h3>
            <h3>Sand:@Model.Sand </h3>
            <h3>Water: @Model.Water</h3>
            <h3>Plastic:@Model.Plastic</h3>
            <h3>Iron: @Model.Iron</h3>
            <h3>Copper:@Model.Copper</h3>
            <h3>Cotton: @Model.Cotton</h3>

        </div>
    </body>
</html>
