@model KnowItAllWeb.Models.Materials;

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>HTML Title</title>
    </head>
<body>

<form action="CreateOffer" method="post"> 

    <h3>Wood</h3>
    <input type="number" name="Wood"0"/>Wood

     <h3>Sand</h3>
    <input type="number" name="Sand"value="0"/>Sand

     <h3>Water</h3>
    <input type="number" name="Water"value="0" />Water

     <h3>Plastic</h3>
    <input type="number" name="Plastic"value="0" />Plastic

     <h3>Iron</h3>
    <input type="number" name="Iron" value="0"/>Iron

     <h3>Copper</h3>
    <input type="number" name="Copper"value="0"/>Copper

     <h3>Cotton</h3>
    <input type="number" name="Cotton" value="0" />Cotton


    <br />

   

    <button type="submit" value="Create Offer" class="btn btn-primary"> Create Offer

    </button>

   




   </form>
   </body>
   </html>

