@model KnowItAllWeb.Models.Materials

<form action="CreateOffer" method="post">
  <div class="form-group">
    <div>
        <label for="name">Wood</label>
        <input type="number" name="wood" id="1" value="0" min="0">
    </div>

    <div>
        <label for="name">Sand</label>
        <input type="number" name="sand" id="2" value="0" min="0">
    </div>

    <div>
        <label for="name">Water</label>
        <input type="number" name="water" id="3" value="0" min="0">
    </div>
    <div>
        <label for="name">Plastic</label>
        <input type="number" name="plastic" id="4" value="0" min="0">
    </div>
    <div>
        <label for="name">Iron</label>
        <input type="number" name="iron" id="5" value="0" min="0">
    </div>
    <div>
        <label for="name">Copper</label>
        <input type="number" name="copper" id="6" value="0" min="0">
    </div>
    <div>
        <label for="name">Cotton</label>
        <input type="number" name="cotton" id="7" value="5" min="0">
    </div>
    </div>
    
 


     <button type="submit" value="Create Offer" class="btn btn-primary">Create Offer</button>
</form>